{% extends "home/template.html" %}
{% load static %}

{% block title %}Saroga Concept Video{% endblock title %}
{% block conceptactive %}active{% endblock conceptactive %}

{% block body %}
<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 m-auto">
                <!-- Page Title -->
                <h1>Concept Video</h1>
                <!-- Page Description -->
                <p>Video konsep Saroga dibuat untuk "mempromosikan" ide Saroga kepada audiens umum. Pada video ini, kami memperagakan fungsionalitas aplikasi Saroga.</p>
            </div>
        </div>
    </div>
</section>

<!--====  End of Page Title  ====-->



<!--==================================
=            Career Promo            =
===================================-->
<section class="section career-featured pt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <!-- written-content -->
                    <div class="content">
                        <!-- Career heading -->
                        <h2>Sinopsis</h2>
                        <!-- Career Description -->
                        <p>Dalam video ini, Yagi mengajak temannya, Naufal, untuk bermain bulutangkis bersama. Namun, Yagi kesulitan mendapatkan informasi yang valid mengenai lapangan bulutangkis yang dapat direservasi. Bagaimana Yagi pada akhirnya menyelesaikan masalah tersebut?<br>Simak video konsep berikut.
                        </p>
                    </div>
                    <!-- Promo Video -->
                    <div class="video">
                        <!-- Video Thumb -->
                        <img class="img-fluid shadow" src="{% static 'home/images/thumbs/promo-video-thumbnail.jpg' %}"
                            alt="video-thumbnail">
                        <!-- Video Button -->
                        <div class="video-button video-box">
                            <a href="javascript:void(0)">
                                {% comment %} <i class="ti-control-play" data-video="https://www.youtube.com/embed/jrkvirglgaQ?autoplay=1"></i> {% endcomment %}
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/-KDfuFfh_R8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section blog-single pt-0">
	<div class="container">
		<div class="row">
			<div class="col-md-10 m-auto">
				<hr class="mt-4 mb-4" style="border-top: 1px solid #cccccc;">
                <p>Storyboard dari video konsep Saroga dapat diakses pada tautan berikut.</p><br>
						<a class="btn btn-main-sm" href="https://docs.google.com/presentation/d/15-MuBPJNfrPYTXGTMzo_ibgqtfHLAEtgv2MY2e_7-lM/edit?usp=sharing">Saroga Storyboard</a>
			</div>
		</div>
	</div>
</section>
{% endblock body %}