{% extends "home/template.html" %}
{% load static %}

{% block title %}Heuristic Evaluation{% endblock title %}
{% block heuristicactive %}active{% endblock heuristicactive %}

{% block body %}
<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>Heuristic Evaluation</h1>
				<!-- Page Description -->
				<p>Heuristic Evaluation (evaluasi heuristik) adalah metode penilaian kegunaan suatu produk digital yang bertujuan untuk memperbagus user experience. Proses ini dilakukan oleh ahli/evaluator UI/UX dengan upaya mendeteksi masalah yang ada pada fungsionalitas produk.</p>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->

<!--======================================
=            Featured Article            =
=======================================-->
<section class="section featured-article">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<article class="featured">
					<!-- Image -->
					<div class="image">
						<a href="blog-single.html"><img class="img-fluid" src="{% static 'home/images/feature/evalheuristic.png' %}" alt="featured-article"></a>
					</div>
					<!-- written-content -->
					<div class="content">
						<!-- Post Title -->
						<h2><a href="blog-single.html">Evaluasi Heuristik terhadap Saroga</a></h2>
						<!-- Tags -->
						<ul class="list-inline post-tag">
							<li class="list-inline-item">
								<a href="#">Dilakukan oleh evaluator eksternal</a>
							</li>
						</ul>
						<!-- Post Body -->
						<p>Hasil Evaluasi:</p>
                        <p>Prototipe yang sudah ada dari aplikasi Saroga secara keseluruhan sudah cukup baik dan fitur-fitur utama sudah dapat difungsikan dengan baik. Namun, masih terdapat beberapa kekurangan seperti opsi kembali setelah memilih menu-menu tertentu.</p>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>

<section class="section blog-single pt-4">
	<div class="container">
		<div class="row">
			<div class="col-md-10 m-auto">
				<!-- Single Post -->
				<article class="single-post pb-4">
					<!-- Post body -->
					<div class="post-body">
						<!-- Paragrapgh -->
						<p>Masih terdapat inkonsistensi pada penggunaan bahasa di dalam aplikasi. Terdapat pula fitur-fitur tertentu yang perlu dikaji ulang cara kerjanya dan unsur-unsur pendukung yang penting untuk diberikan dalam rangka membantu pengguna memahami cara kerja fitur tersebut. Fitur lain yang kedepannya diharapkan ada adalah fitur untuk memesan lapangan sekaligus sehingga akan dapat lebih memudahkan pengguna. Terlepas dari fitur dari segi keindahan sudah cukup baik namun ada baiknya menambahkan unsur warna pada beberapa tombol / bagian dan menambahkan icon yang diperlukan bagi pengguna sehingga pengguna lebih mudah memahami serta menghapus icon yang sekiranya membingungkan bagi pengguna.</p>
						<br>
						<!-- Post Image -->
						<div class="post-image text-center">
							<img class="img-fluid" src="{% static 'home/images/feature/simulasi.png' %}"
								alt="post-body-image">
						</div>
					</div>
				</article>
				<hr class="mt-4 mb-4" style="border-top: 1px solid #cccccc;">
                <p>Selengkapnya mengenai hasil evaluasi heuristik terhadap prototipe Saroga dapat dilihat pada tautan berikut.</p><br>
						<a class="btn btn-main-sm" href="https://docs.google.com/document/d/17X85spJzkm-q8zjFsSZGkw3Sj_zkyKrQyPtL6d0JHJM/edit?usp=sharing">Evaluasi Heuristik</a>
			</div>
		</div>
	</div>
</section>
{% endblock body %}