{% extends "home/template.html" %}
{% load static %}

{% block title %}High-Fidelity Prototype{% endblock title %}
{% block highfiactive %}active{% endblock highfiactive %}

{% block body %}
<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>High-Fidelity Prototype</h1>
				<!-- Page Description -->
				<p>Low-Fidelity Prototype adalah jenis prototipe dengan tingkat kedetilan rendah. Pada tahap membuat low-fi prototype, desainer tidak perlu merancang tampilan semirip mungkin dengan aslinya. Tujuan dari pembuatan low-fi prototype adalah mendapatkan umpan balik sesegera mungkin dengan usaha minimal.</p>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->

<!--======================================
=            Featured Article            =
=======================================-->
<section class="section featured-article">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<article class="featured">
					<!-- Image -->
					<div class="image">
						<a href="blog-single.html"><img class="img-fluid" src="{% static 'home/images/feature/highfi.png' %}" alt="featured-article"></a>
					</div>
					<!-- written-content -->
					<div class="content">
						<!-- Post Title -->
						<h2><a href="blog-single.html">Saroga High-Fidelity Prototype</a></h2>
						<!-- Tags -->
						<ul class="list-inline post-tag">
							<li class="list-inline-item">
								<a href="#">Dibuat menggunakan platform Figma</a>
							</li>
						</ul>
						<!-- Post Body -->
						<p>High-Fidelity Prototype aplikasi Saroga memanfaatkan aplikasi Figma dalam pembuatannya. High-Fidelity prototype merupakan prototipe aplikasi dengan tingkat kedetilan tinggi. Jenis prototipe ini adalah representasi sesungguhnya dari aplikasi yang akan dikembangkan. Fungsionalitas dari aplikasi hampir seluruhnya tersedia pada tahap ini.</p>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>

<section class="section blog-single pt-4">
	<div class="container">
		<div class="row">
			<div class="col-md-10 m-auto">
				<!-- Single Post -->
				<article class="single-post pb-4">
					<!-- Post body -->
					<div class="post-body">
						<!-- Paragrapgh -->
						<p>Pembuatan high-fidelity prototype mengacu pada evaluasi heuristik yang telah dilakukan sebelumnya. Evaluasi heuristik dilakukan dengan mengecek kesesuaian antara desain yang telah dibuat dengan 10 prinsip heuristik. Jika terdapat pelanggaran terhadap satu atau lebih prinsip-prinsip tersebut, maka harus diperbaiki. Dalam hal ini, terdapat kurang lebih sebanyak 13 pelanggaran yang ditemukan pada rancangan prototipe Saroga di tingkat kedetilan medium (Med-fi prototype) yang terdiri dari pelanggaran tingkat 1 hingga 4.</p>
						<br>
						<!-- Post Image -->
						<div class="post-image text-center">
							<img class="img-fluid" src="{% static 'home/images/feature/simulasi-3.png' %}"
								alt="post-body-image">
						</div>
					</div>
				</article>
				<section class="section career-featured pt-0">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="block">
									<!-- written-content -->
									<div class="content">
										<!-- Career heading -->
										<h2>Demonstrasi</h2>
										<!-- Career Description -->
										<p>Dalam video ini, dilakukan demonstrasi penggunaan aplikasi Saroga untuk mencari dan berbagi informasi mengenai sarana olahraga.<br>Simak videonya.
										</p>
									</div>
									<!-- Promo Video -->
									<div class="video">
										<!-- Video Thumb -->
										<img class="img-fluid shadow" src="{% static 'home/images/thumbs/promo-video-thumbnail.jpg' %}"
											alt="video-thumbnail">
										<!-- Video Button -->
										<div class="video-button video-box">
											<a href="javascript:void(0)">
												{% comment %} <i class="ti-control-play" data-video="https://www.youtube.com/embed/jrkvirglgaQ?autoplay=1"></i> {% endcomment %}
												<iframe width="560" height="315" src="https://www.youtube.com/embed/FPaj7c0vP18" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<hr class="mt-4 mb-4" style="border-top: 1px solid #cccccc;">
                <p>Selengkapnya mengenai High-Fidelity Prototype Saroga beserta dokumentasinya bisa diakses pada tautan berikut.</p><br>
						<a class="btn btn-main-sm my-1" href="https://www.figma.com/proto/dMue7lxG99x2BBoZfnRNna/High-fi-Prototype?page-id=0%3A1&node-id=2%3A2&viewport=241%2C48%2C0.12&scaling=scale-down&starting-point-node-id=2%3A2">High-Fi Saroga</a>
						<a class="btn btn-main-sm my-1" href="https://docs.google.com/document/d/18LA8KPI79zJFbt81vtkoJcwry7OZ4e8xswNcDDST4V8/edit?usp=sharing">Read-Me</a>
						<a class="btn btn-main-sm my-1" href="https://docs.google.com/presentation/d/1TpVW8gkSbL7rOf_ewooyHniIYXDcFO8Pe8i7Gfs1uqo/edit?usp=sharing">Presentasi Hi-Fi</a>
						<a class="btn btn-main-sm my-1" href="https://docs.google.com/document/d/1G4baT-YmoJCONhkbzaB3kxTEyVClCaoBSxQMn5WrkJo/edit?usp=sharing">Laporan Hi-Fi</a>
			</div>
		</div>
	</div>
</section>
{% endblock body %}