{% extends "home/template.html" %}
{% load static %}

{% block title %}Saroga | Sports Venue Made Visible{% endblock title %}
{% block indexactive %}active{% endblock indexactive %}

{% block body %}
<!--====================================
=            Hero Section            =
=====================================-->
<section class="section gradient-banner">
	<div class="shapes-container">
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-out" data-aos-duration="2000" data-aos-delay="500"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="0"></div>
	</div>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6 order-2 order-md-1 text-center text-md-left">
				<h1 class="text-white font-weight-bold mb-4">Saroga Sport Venue App</h1>
				<p class="text-white mb-5">Cari tahu berbagai informasi mengenai tempat olahraga di sekitarmu.
					Aplikasi gratis dalam genggaman.</p>
				<a href="/tentang" class="btn btn-main-md">Tentang Saroga</a>
			</div>
			<div class="col-md-6 text-center order-1 order-md-2">
				<img class="img-fluid" src="{% static 'home/images/mobile-2.png' %}" alt="screenshot"
					style="width: 440px; height: auto;">
			</div>
		</div>
	</div>
</section>
<!--====  End of Hero Section  ====-->

<section class="section pt-0 position-relative pull-top">
	<div class="container">
		<div class="rounded shadow p-5 bg-white">
			<div class="row">
				<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
					<i class="ti-map-alt text-primary h1"></i>
					<h3 class="mt-4 text-capitalize h5 ">Cari tempat olahragamu</h3>
					<p class="regular text-muted">Informasi tentang berbagai sarana olahraga di sekitarmu tersedia
						dalam satu platform.</p>
				</div>
				<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
					<i class="ti-mobile text-primary h1"></i>
					<h3 class="mt-4 text-capitalize h5 ">Booking tanpa pusing</h3>
					<p class="regular text-muted">Langsung hubungi penyedia sarana olahraga melalui kontak yang
						tersedia di aplikasi.</p>
				</div>
				<div class="col-lg-4 col-md-12 mt-5 mt-lg-0 text-center">
					<i class="ti-wand text-primary h1"></i>
					<h3 class="mt-4 text-capitalize h5 ">Tampilan segar</h3>
					<p class="regular text-muted">Desain tampilan yang menarik membuat pengalaman menggunakan
						aplikasi jadi lebih menyenangkan.</p>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!--==================================
=            Feature Grid            =
===================================-->
<section class="feature section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Proses</h2>
					<p>Tahapan yang dilalui dalam pengembangan <a href="/">Saroga</a>.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 ml-auto justify-content-center">
				<!-- Feature Mockup -->
				<div class="image-content" data-aos="fade-right">
					<img class="img-fluid" src="{% static 'home/images/feature/Frame2-compressed.png' %}" alt="iphone"
						style="width: 500px; height: auto;">
				</div>
			</div>
			<div class="col-lg-6 mr-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>Tahap <a href="/needfindings">Needfindings</a></h2>
					<!-- Feature Description -->
					<p class="desc">Penggalian kebutuhan adalah langkah pertama dalam mencari tahu apa yang saat ini
						dirasakan oleh para pegiat olahraga. Kami melakukan penggalian kebutuhan kepada beberapa
						pegiat olahraga secara acak dan dengan intensitas olahraga yang berbeda-beda.</p>
				</div>
				<!-- Testimonial Quote -->
				<div class="testimonial">
					<p>
						"Di Surabaya sebenarnya banyak tempat main, tetapi susah untuk mendapatkan informasi dari
						tempat tersebut."
					</p>
					<ul class="list-inline meta">
						<li class="list-inline-item">
							<img src="{% static 'home/images/testimonial/feature-testimonial-thumb.jpg' %}" alt="">
						</li>
						<li class="list-inline-item">Maulanan Fatihil, hobi bermain bulutangkis</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="feature section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>Menentukan <a href="/pov">POV dan Prototipe Pengalaman</a></h2>
					<!-- Feature Description -->
					<p>Sudut pandang diperlukan untuk menentukan permasalahan apa yang akan diselesaikan. Melalui
						proses curah pendapat dan metode pertanyaan "How Might We", kami merumuskan sudut pandang
						pengguna dan membuat prototipe pengalamannya.</p>
				</div>
				<!-- Testimonial Quote -->
				<div class="testimonial">
					<p>
						"Prototipe pengalaman dapat memberikan umpan balik secara cepat mengenai kualitas ide yang
						kita rancang."
					</p>
					<ul class="list-inline meta">
						<li class="list-inline-item">
							<img src="{% static 'home/images/testimonial/feature-testimonial-thumb.jpg' %}" alt="">
						</li>
						<li class="list-inline-item">Anonymous</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 mr-auto justify-content-center">
				<!-- Feature mockup -->
				<div class="image-content" data-aos="fade-left">
					<img class="img-fluid" src="{% static 'home/images/feature/Frame3-compressed.png' %}" alt="ipad"
						style="width: 500px; height: auto;">
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Feature Grid  ====-->

<!--==============================
=            Services            =
===============================-->
<section class="service section bg-gray">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Prototipe</h2>
					<p><a href="https://themefisher.com/products/small-apps-free-app-landing-page-template/">Prototipe
							Saroga</a> dibuat sebagai gambaran bentuk aplikasi yang sesungguhanya.</p>
				</div>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-lg-6 align-self-center">
				<!-- Feature Image -->
				<div class="service-thumb left" data-aos="fade-right">
					<img class="img-fluid" src="{% static 'home/images/feature/prototipe.jpg' %}" alt="iphone-ipad">
				</div>
			</div>
			<div class="col-lg-5 mr-auto align-self-center">
				<div class="service-box">
					<div class="row align-items-center">
						<div class="col-md-6 col-xs-12">
							<!-- Service 01 -->
							<div class="service-item">
								<!-- Icon -->
								<i class="ti-pencil"></i>
								<!-- Heading -->
								<h3><a href="/lowfi">Low-Fi Prototype</a></h3>
								<!-- Description -->
								<p>Prototipe dengan tingkat kedetilan rendah yang menjadi pondasi awal tampilan aplikasi
									Saroga.</p>
							</div>
						</div>
						<div class="col-md-6 col-xs-12">
							<!-- Service 01 -->
							<div class="service-item">
								<!-- Icon -->
								<i class="ti-palette"></i>
								<!-- Heading -->
								<h3><a href="/medfi">Med-fi Prototype</a></h3>
								<!-- Description -->
								<p>Pengembangan lanjutan dari prototipe low-fidelity. Gambaran mengenai aplikasi yang
									lebih detil.</p>
							</div>
						</div>
						<div class="col-md-6 col-xs-12">
							<!-- Service 01 -->
							<div class="service-item">
								<!-- Icon -->
								<i class="ti-layout-list-thumb"></i>
								<!-- Heading -->
								<h3><a href="/heuristic">Heuristic Evaluation</a></h3>
								<!-- Description -->
								<p>Evaluasi terhadap prototipe yang telah dibangun untuk menemukan dan memperbaiki
									kekurangan.</p>
							</div>
						</div>
						<div class="col-md-6 col-xs-12">
							<!-- Service 01 -->
							<div class="service-item">
								<!-- Icon -->
								<i class="ti-mobile"></i>
								<!-- Heading -->
								<h3><a href="/highfi">High-fi Prototype</a></h3>
								<!-- Description -->
								<p>Penyempurnaan dari prototipe aplikasi Saroga yang dirancang sesuai dengan aplikasi
									sebenarnya.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Services  ====-->

<section class="feature section pt-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2><a href="/">Poster & Pitch Slide</a></h2>
					<!-- Feature Description -->
					<p>Ringkasan informasi aplikasi Saroga ditampilkan dalam bentuk poster dan presentasi singkat.
						Kualitas desain poster dan slide akan sangat mempengaruhi kesan pembaca mengenai aplikasi
						Saroga.</p>
				</div>
				<!-- Testimonial Quote -->
				<div class="testimonial">
					<p>
						"Pendapat mengenai 'jangan menilai buku dari sampulnya' tidak sepenuhnya valid, karena tentu
						saja buku yang memiliki sampul yang bagus akan lebih disukai."
					</p>
					<ul class="list-inline meta">
						<li class="list-inline-item">
							<img src="{% static 'home/images/testimonial/feature-testimonial-thumb.jpg' %}" alt="">
						</li>
						<li class="list-inline-item">Anonymous</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 mr-auto justify-content-center">
				<!-- Feature mockup -->
				<div class="image-content" data-aos="fade-left">
					<img class="img-fluid" src="{% static 'home/images/feature/presentation.png' %}" alt="ipad"
						style="width: 500px; height: auto;">
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Feature Grid  ====-->

<!--=================================
=            Video Promo            =
==================================-->
<section class="video-promo section bg-1">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="content-block">
					<!-- Heading -->
					<h2>Watch Our Concept Video</h2>
					<!-- Promotional Speech -->
					<p>Lihat bagaimana Saroga membantu para pegiat olahraga menyelesaikan masalahnya dalam pencarian
						sarana olahraga. </p>
					<!-- Popup Video -->
					<a data-fancybox href="https://youtu.be/-KDfuFfh_R8">
						<i class="ti-control-play video"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Video Promo  ====-->

<!--=================================
=            Marketing Team         =
==================================-->
<section class="design-team section pt-5 mt-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Our Team</h2>
					<p><a href="https://themefisher.com/products/small-apps-free-app-landing-page-template/">Saroga</a> membantu pegiat olahraga menemukan sarana olahraga yang sesuai untuknya.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
				<div class="team-sm">
					<!-- Team Member Image -->
					<div class="image">
						<img class="w-100" src="{% static 'home/images/team/ardha.png' %}" alt="member-image">
						<!-- Social Contacts -->
						<div class="social-links">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i
											class="ti-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i
											class="ti-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i
											class="ti-instagram"></i></a></li>
								<li class="list-inline-item"><a href="#"><i
											class="ti-dribbble"></i></a></li>
							</ul>
						</div>
					</div>
					<!-- Name -->
					<h3>Ardha Irfan Hakim</h3>
					<!-- Position -->
					<cite>UI Designer</cite>
					<!-- Description -->
					{% comment %} <p>Membangun rancangan aplikasi Saroga sehingga berfungsi secara maksimal, termasuk mendesain bagaimana aplikasi bekerja serta tampilan antarmukanya.</p> {% endcomment %}
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
				<div class="team-sm">
					<!-- Team Member Image -->
					<div class="image">
						<img class="w-100" src="{% static 'home/images/team/yagi.png' %}" alt="member-image">
						<!-- Social Contacts -->
						<div class="social-links">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i
											class="ti-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i
											class="ti-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i
											class="ti-instagram"></i></a></li>
								<li class="list-inline-item"><a href="#"><i
											class="ti-dribbble"></i></a></li>
							</ul>
						</div>
					</div>
					<!-- Name -->
					<h3>Yagi Aditya Muhammad</h3>
					<!-- Position -->
					<cite>Researcher</cite>
					<!-- Description -->
					{% comment %} <p>Membangun aplikasi Saroga .</p> {% endcomment %}
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
				<div class="team-sm">
					<!-- Team Member Image -->
					<div class="image">
						<img class="w-100" src="{% static 'home/images/team/nopal.png' %}" alt="member-image">
						<!-- Social Contacts -->
						<div class="social-links">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i
											class="ti-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i
											class="ti-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i
											class="ti-instagram"></i></a></li>
								<li class="list-inline-item"><a href="#"><i
											class="ti-dribbble"></i></a></li>
							</ul>
						</div>
					</div>
					<!-- Name -->
					<h3>Naufal Sadewa</h3>
					<!-- Position -->
					<cite>Editor</cite>
					<!-- Description -->
					{% comment %} <p></p> {% endcomment %}
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Marketing Team  ====-->
{% endblock body %}