{% extends "home/template.html" %}
{% load static %}

{% block title %}Low-Fidelity Prototype{% endblock title %}
{% block lowfiactive %}active{% endblock lowfiactive %}

{% block body %}
<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>Low-Fidelity Prototype</h1>
				<!-- Page Description -->
				<p>Low-Fidelity Prototype adalah jenis prototipe dengan tingkat kedetilan rendah. Pada tahap membuat low-fi prototype, desainer tidak perlu merancang tampilan semirip mungkin dengan aslinya. Tujuan dari pembuatan low-fi prototype adalah mendapatkan umpan balik sesegera mungkin dengan usaha minimal.</p>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->

<!--======================================
=            Featured Article            =
=======================================-->
<section class="section featured-article">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<article class="featured">
					<!-- Image -->
					<div class="image">
						<a href="blog-single.html"><img class="img-fluid" src="{% static 'home/images/feature/figmalowfi.png' %}" alt="featured-article"></a>
					</div>
					<!-- written-content -->
					<div class="content">
						<!-- Post Title -->
						<h2><a href="blog-single.html">Saroga Low-Fidelity Prototype</a></h2>
						<!-- Tags -->
						<ul class="list-inline post-tag">
							<li class="list-inline-item">
								<a href="#">Dibuat di atas media kertas gambar</a>
							</li>
						</ul>
						<!-- Post Body -->
						<p>Low-Fidelity Prototype aplikasi Saroga memanfaatkan media kertas dan spidol dalam pembuatannya. Terdapat beberapa rancangan prototipe pada awalnya. Kemudian, setelah proses diskusi, maka dipilih satu desain terbaik yang nantinya akan dibuat prototipe dengan tingkat kedetilan lebih tinggi. Selain menggambar secara manual di atas kertas, kami juga memanfaatkan aplikasi Figma untuk membuat gambar-gambar prototipe menjadi lebih interaktif.</p>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>

<section class="section blog-single pt-4">
	<div class="container">
		<div class="row">
			<div class="col-md-10 m-auto">
				<!-- Single Post -->
				<article class="single-post pb-4">
					<!-- Post body -->
					<div class="post-body">
						<!-- Paragrapgh -->
						<p>Setelah merancang Low-fi prototype aplikasi Saroga, kami melakukan pengujian kepada seorang relawan. Pengujian dilakukan dengan memanfaatkan aplikasi Figma supaya prototipe dapat diklik. Kami meminta penguji melakukan 3 pekerjaan dalam aplikasi Saroga. Tiga pekerjaan tersebut terdiri dari pekerjaan sederhana, sedang dan kompleks. Kemudian, umpan balik dari penguji kami gunakan untuk memperbaiki kesalahan dan kekurangan pada prototipe awal ini dan selanjutnya dibuat prototipe medium-fidelity.</p>
						<br>
						<!-- Post Image -->
						<div class="post-image text-center">
							<img class="img-fluid" src="{% static 'home/images/feature/ujilowfi.png' %}"
								alt="post-body-image">
						</div>
					</div>
				</article>
				<hr class="mt-4 mb-4" style="border-top: 1px solid #cccccc;">
				<h5 class="mt-5 mb-3">Informasi lebih lengkap mengenai low-fidelity prototype Saroga dapat dilihat pada tautan berikut</h5>
				<div class="">
				<h6 class="mx-2"><a class="btn btn-main-sm" href="https://docs.google.com/presentation/d/1MIljOeGooqI3NpQ_r4-uBroTMCwJKhCi/edit?usp=sharing&ouid=108410183164449671109&rtpof=true&sd=true">Low-Fi Saroga (PPT)</a></h6>
				<h6 class="mx-2"><a class="btn btn-main-sm" href="https://drive.google.com/file/d/1FKYnM-RT0wp2LQ6QZGqbn2Im96qYde_1/view?usp=sharing">Low-Fi Saroga (PDF)</a></h6>
				<h6 class="mx-2"><a class="btn btn-main-sm" href="https://drive.google.com/file/d/162XLTU7k_6yhaG0a_d9bAlzqcB1RHPfC/view?usp=sharing">Laporan Low-Fi Saroga</a></h6>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock body %}