{% extends "home/template.html" %}
{% load static %}

{% block title %}Medium-Fidelity Prototype{% endblock title %}
{% block medfiactive %}active{% endblock medfiactive %}

{% block body %}
<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>Medium-Fidelity Prototype</h1>
				<!-- Page Description -->
				<p>Medium-Fidelity Prototype adalah jenis prototipe dengan tingkat kedetilan sedang. Pada tahap membuat med-fi prototype, desainer mulai merancang tampilan antarmuka mendekati aslinya. Tujuan dari pembuatan med-fi prototype adalah sebagai jembatan antara sketsa UI dengan high-fidelity prototipe.</p>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->

<!--======================================
=            Featured Article            =
=======================================-->
<section class="section featured-article">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<article class="featured">
					<!-- Image -->
					<div class="image">
						<a href="blog-single.html"><img class="img-fluid" src="{% static 'home/images/feature/medfi.png' %}" alt="featured-article"></a>
					</div>
					<!-- written-content -->
					<div class="content">
						<!-- Post Title -->
						<h2><a href="blog-single.html">Saroga Med-Fidelity Prototype</a></h2>
						<!-- Tags -->
						<ul class="list-inline post-tag">
							<li class="list-inline-item">
								<a href="#">Dibuat dengan media Figma</a>
							</li>
						</ul>
						<!-- Post Body -->
						<p>Med-Fidelity Prototype aplikasi Saroga memanfaatkan aplikasi Figma dalam pembuatannya. Desain low-fi yang terpilih di awal dikembangkan lebih lanjut dengan item-item pelengkapnya. Pada tahap ini, rancangan aplikasi dibuat sehingga dapat melakukan pekerjaan minimal dari fungsi aplikasi.</p>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>

<section class="section blog-single pt-4">
	<div class="container">
		<div class="row">
			<div class="col-md-10 m-auto">
				<!-- Single Post -->
				<article class="single-post pb-4">
					<!-- Post body -->
					<div class="post-body">
						<!-- Paragrapgh -->
						<p>Setelah merancang Med-fi prototype aplikasi Saroga, evaluasi dilakukan dengan bantuan pihak eksternal. Metode evaluasi yang digunakan adalah evaluasi heuristik (heuristic evaluation) dengan membandingkan rancangan aplikasi terhadap 10 prinsip heuristik. Pelanggaran terhadap satu atau lebih prinsip didokumentasikan oleh evaluator dan umpan balik disampaikan kepada kami selaku pengembang. Hasil akhir dari evaluasi heuristik tersebut digunakan untuk memperbaiki desain dan pengembangan high-fidelity prototype Saroga.</p>
						<br>
						<!-- Post Image -->
						<div class="post-image text-center">
							<img class="img-fluid" src="{% static 'home/images/feature/evalheuristic.png' %}"
								alt="post-body-image">
						</div>
					</div>
				</article>
				<hr class="mt-4 mb-4" style="border-top: 1px solid #cccccc;">
				<h5 class="mt-5 mb-3">Informasi lebih lengkap mengenai medium-fidelity prototype Saroga dapat dilihat pada tautan berikut</h5>
				<div class="">
				<h6 class="mx-2"><a class="btn btn-main-sm" href="https://www.figma.com/proto/tDzmPH5ApNtk2Yw00Fhy6V/Med-fi-Prototype?page-id=0%3A1&node-id=2%3A2&viewport=241%2C48%2C0.06&scaling=scale-down&starting-point-node-id=2%3A2">Med-fi Prototype</a></h6>
				<h6 class="mx-2"><a class="btn btn-main-sm" href="https://docs.google.com/presentation/d/1LPJCPDicSPMgOJbylesfbOjbfNCdKXzq7vzQUXWgDi0/edit?usp=sharing">Med-Fi Saroga (PPT)</a></h6>
				<h6 class="mx-2"><a class="btn btn-main-sm" href="https://drive.google.com/file/d/1oFHy5NFFAbjjwzA78MUKHx7Nu85vgPk3/view?usp=sharing">Med-Fi Saroga (PDF)</a></h6>
				<h6 class="mx-2"><a class="btn btn-main-sm" href="https://drive.google.com/file/d/1ILrz7atrrvfFjf_-x6YU-be8frk2q7zs/view?usp=sharing">Read Me</a></h6>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock body %}