{% extends "home/template.html" %}
{% load static %}

{% block title %}Needfindings{% endblock title %}
{% block needfindingsactive %}active{% endblock needfindingsactive %}

{% block body %}
<!--====================================
=            Single Article            =
=====================================-->
<section class="section blog-single">
	<div class="container">
		<div class="row">
			<div class="col-md-10 m-auto">
				<!-- Single Post -->
				<article class="single-post pb-4">
					<!-- Post title -->
					<div class="post-title text-center">
						<h1>Needfindings (Penggalian Kebutuhan)</h1>
						<!-- Tags -->
						<ul class="list-inline post-tag">
							{% comment %} <li class="list-inline-item">
								<img src="{% static 'home/images/testimonial/feature-testimonial-thumb.jpg' %}"
									alt="author-thumb">
							</li> {% endcomment %}
							<li class="list-inline-item">
								<a href="#">Wawancara kepada 3 orang mengenai permasalahan seputar kegiatan
									olahraga.</a>
							</li>
							{% comment %} <li class="list-inline-item">
								<a href="#">August 8, 2017</a>
							</li> {% endcomment %}
						</ul>
					</div>
					<!-- Post body -->
					<div class="post-body">
						<!-- Feature Image -->
						<br>
						<div class="feature-image">
							<img class="img-fluid" src="{% static 'home/images/feature/Frame2new.png' %}"
								alt="feature-image">
						</div>
						<!-- Paragrapgh -->
						<h4>Topik permasalahan: <b>Olahraga Rekreasional</b></h4><br>
						<p>Fase needfindings (penggalian kebutuhan) adalah fase pertama dalam proses desain pengalaman
							pengguna (UX design). Pada tahap ini, desainer mencari tahu mengenai permasalahan nyata yang
							dialami orang-orang dari sebuah topik tertentu. Dalam hal ini, kami memilih olahraga
							rekreasional sebagai topik utama. Wawancara terhadap 3 orang secara acak dilakukan secara
							daring di 3 waktu yang berbeda.</p>
						<!-- Post Image -->
						<div class="post-image text-center">
							<img class="img-fluid" src="{% static 'home/images/feature/petaempati.png' %}"
								alt="post-body-image">
						</div>
						<!-- Blockquote -->
						<div class="quote">
							<blockquote>
								“di Surabaya sebenarnya banyak tempat main tetapi susah untuk mendapatkan informasi dari tempat tersebut.”
							</blockquote>
						</div>
						<!-- Paragrapgh -->
						<!-- <p>Sed porttitor lectus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p> -->
					</div>
				</article>
				<!-- About Author Widget -->
				<div class="about-author">
					<h2>Narasumber</h2>
					<div class="media mt-3 mb-5">
						<!-- Author Image -->
						<div class="image">
							<img class="d-flex justify-content-center align-self-center"
								src="{% static 'home/images/feature/andhika.png' %}" alt="author-image">
						</div>
						<!-- About Author -->
						<div class="media-body align-self-center">
							<!-- Author Name -->
							<h3>Andhika Rifki Alfariz</h3>
							<!-- Bio -->
							<p>(Mahasiswa Ilkom Universitas Indonesia, Semester 6)</p>
							<p>“Saya ada circle untuk olahraga seperti futsal, voli, kecuali lari. Tapi untuk sekarang
								susah untuk mencari teman karena sudah pada beda sekolah dan kesibukannya
								masing-masing.”</p>
						</div>
					</div>
					<div class="media mt-5 mb-5">
						<!-- Author Image -->
						<div class="image">
							<img class="d-flex justify-content-center align-self-center"
								src="{% static 'home/images/feature/brian.png' %}" alt="author-image">
						</div>
						<!-- About Author -->
						<div class="media-body align-self-center">
							<!-- Author Name -->
							<h3>Brian Julian Akbar</h3>
							<!-- Bio -->
							<p>(Mahasiswa Arsitektur Universitas, Semester 6)</p>
							<p>“Sepertinya kami senang bukan karena olahraganya, tetapi ngumpulnya. 4 minggu yg lalu
								saya diajak badminton sama orang kantor magang, di situ memicu untuk mengajak olahraga
								lagi, dan saya cari teman SMA saya untuk bermain badminton.”</p>
						</div>
					</div>
					<div class="media mb-3">
						<!-- Author Image -->
						<div class="image">
							<img class="d-flex justify-content-center align-self-center"
								src="{% static 'home/images/feature/fatih.png' %}" alt="author-image">
						</div>
						<!-- About Author -->
						<div class="media-body align-self-center">
							<!-- Author Name -->
							<h3>Maulanal Fatihil A.M.</h3>
							<!-- Bio -->
							<p>(Ketua IBC 2021/2022, Mahasiswa IT ITS, Semester 4)</p>
							<p>“Dalam dunia bulutangkis, kebanyakan kita itu main dengan orang-orang yang bahkan tidak
								kita kenal sebelumnya, jadi kayak ketemu di pertandingan terus saling kenal.”</p>
						</div>
					</div>
				</div>
				<hr class="mt-5" style="border-top: 1px solid #cccccc;">
				<!-- Paragrapgh -->
				<div class="post-body mt-5">
					<h4>Hasil Wawancara</h4>
					<p>Kesimpulan dari wawancara penggalian kebutuhan yang telah dilakukan adalah:<br>
					<ul>
						<li>Ruang masalah tema kami adalah olahraga rekreasional.</li>
						<li>Kami mencoba mendengarkan pendapat para pegiat olahraga rekreasional melalui wawancara.
						</li>
						<li>Ternyata, sekat utama yang membuat seseorang membatalkan rencananya berolahraga adalah
							ketiadaan teman untuk berolahraga bersama karena jadwal yang mungkin tidak sesuai.</li>
						<li>Langkah selanjutnya dari kami adalah berusaha menghubungkan para pegiat olahraga agar
							mereka dapat berolahraga bersama sesuai preferensinya.</li>
					</ul>
					</p>
				</div>
				<h5 class="mt-5 mb-3">Informasi lebih lengkap dapat dilihat pada tautan berikut</h5>
				<div class="">
				<h6 class="mx-2"><a class="btn btn-main-sm" href="https://docs.google.com/presentation/d/1G3cPvWGgbLiF7p1TXOsY4-SuQKzHNFpOdon7WUyKwus/edit?usp=sharing">Needfindings (PPT)</a></h6>
				<h6 class="mx-2"><a class="btn btn-main-sm" href="https://drive.google.com/file/d/1nimGn9IcZ7cpii3k9iAPqG5X8hoVyAGl/view?usp=sharing">Needfindings (PDF)</a></h6>
				<h6 class="mx-2"><a class="btn btn-main-sm" href="https://drive.google.com/file/d/1EFnBbDYW6GPgZlJTj8sR9a2Bj8YblGbm/view?usp=sharing">Empathy Map</a></h6>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Single Article  ====-->
{% endblock body %}