{% extends "home/template.html" %}
{% load static %}

{% block title %}Poster & Pitch Slide{% endblock title %}
{% block posterpitchactive %}active{% endblock posterpitchactive %}

{% block body %}
<!--====================================
=            Single Article            =
=====================================-->
<section class="section blog-single">
	<div class="container">
		<div class="row">
			<div class="col-md-10 m-auto">
				<!-- Single Post -->
				<article class="single-post">
					<!-- Post title -->
					<div class="post-title text-center">
						<h1>Poster & Pitch Slide</h1>
						<!-- Tags -->
						<ul class="list-inline post-tag">
							{% comment %} <li class="list-inline-item">
								<img src="{% static 'home/images/testimonial/feature-testimonial-thumb.jpg' %}"
									alt="author-thumb">
							</li> {% endcomment %}
							<li class="list-inline-item">
								<a href="#">Saroga: Sport venues made visible</a>
							</li>
							{% comment %} <li class="list-inline-item">
								<a href="#">August 8, 2017</a>
							</li> {% endcomment %}
						</ul>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
{% endblock body %}