{% extends "home/template.html" %}
{% load static %}

{% block title %}POV & Experience Prototype{% endblock title %}
{% block povactive %}active{% endblock povactive %}

{% block body %}
<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>Point of Views & Experience Prototype</h1>
				<!-- Page Description -->
				<p>Pada langkah ini, kami menggali sudut pandang orang-orang mengenai permasalahan seputar olahraga
					rekreasional. Selanjutnya, kami mencoba beberapa prototipe pengalaman menggunakan platform yang
					tersedia saat ini.</p>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->

<!--=================================
=            Design Team            =
==================================-->
<section class="design-team section pt-0 pb-3">
	<div class="container">
		{% comment %} <div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Design Team</h2>
					<p><a href="https://themefisher.com/products/small-apps-free-app-landing-page-template/">Small
							Apps</a> makes it easy to stay on top of your Life Style. No late tasks. No gimmicks.</p>
				</div>
			</div>
		</div> {% endcomment %}
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
				<div class="team-sm">
					<!-- Team Member Image -->
					<div class="image">
						<img class="w-100" style="height: 300px; overflow: hidden; object-fit: cover;" src="{% static 'home/images/feature/andhika.png' %}" alt="member-image">
						<!-- Social Contacts -->
						<div class="social-links">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="https://themefisher.com/"><i
											class="ti-facebook"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i
											class="ti-twitter"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i
											class="ti-instagram"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i
											class="ti-dribbble"></i></a></li>
							</ul>
						</div>
					</div>
					<!-- Name -->
					<h3><b>POV 1</b></h3>
					<!-- Position -->
					{% comment %} <cite>Head Of Marketing</cite> {% endcomment %}
					<!-- Description -->
					<p><b>KAMI BERTEMU DENGAN Andhika</b>, seorang mahasiswa yang hobi berolahraga setiap pekan. </p>
					<p><b>KAMI TERKEJUT KETIKA MENGETAHUI BAHWA</b> salah satu motivasi besar seseorang berolahraga
						adalah karena ingin bersosialisasi, disamping kegiatan fisik olahraga itu sendiri. </p>
					<p><b>AKAN MENJADI GEBRAKAN YANG MENARIK</b> jika kita membantu para pegiat olahraga untuk
						mempertemukan secara nyata teman atau lawan olahraga yang memiliki kesesuaian jadwal, lokasi,
						dan minat yang sama.
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
				<div class="team-sm">
					<!-- Team Member Image -->
					<div class="image">
						<img class="w-100" style="height: 300px; overflow: hidden; object-fit: cover;" src="{% static 'home/images/feature/fatih.png' %}" alt="member-image">
						<!-- Social Contacts -->
						<div class="social-links">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="https://themefisher.com/"><i
											class="ti-facebook"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i
											class="ti-twitter"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i
											class="ti-instagram"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i
											class="ti-dribbble"></i></a></li>
							</ul>
						</div>
					</div>
					<!-- Name -->
					<h3><b>POV 2</b></h3>
					<!-- Position -->
					<!-- <cite>Head Of Marketing</cite> -->
					<!-- Description -->
					<p><b>KAMI BERTEMU DENGAN Fatih</b>, seorang ketua UKM olahraga bulutangkis yang rutin berolahraga
						bersama temannya. </p>
					<p><b>KAMI TERKEJUT KETIKA MENGETAHUI BAHWA</b> seringkali dia telah menemukan informasi sarana
						olahraga melalui Google atau media lain, tetapi informasi umum mengenai sarana tersebut tidak
						valid.</p>
					<p><b>AKAN MENJADI GEBRAKAN YANG MENARIK</b> jika kita membantu para pegiat olahraga untuk
						mempertemukan secara nyata teman atau lawan olahraga yang memiliki kesesuaian jadwal, lokasi,
						dan minat yang sama.
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
				<div class="team-sm">
					<!-- Team Member Image -->
					<div class="image">
						<img class="w-100" style="height: 300px; overflow: hidden; object-fit: cover;" src="{% static 'home/images/feature/ayleen.png' %}" alt="member-image">
						<!-- Social Contacts -->
						<div class="social-links">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="https://themefisher.com/"><i
											class="ti-facebook"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i
											class="ti-twitter"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i
											class="ti-instagram"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i
											class="ti-dribbble"></i></a></li>
							</ul>
						</div>
					</div>
					<!-- Name -->
					<h3><b>POV 3</b></h3>
					<!-- Position -->
					<!-- <cite>Head Of Marketing</cite> -->
					<!-- Description -->
					<p><b>KAMI BERTEMU DENGAN Ayleen</b>, seorang mahasiswa yang jarang berolahraga karena tidak banyak tahu cara berolahraga dengan benar.</p>
					<p><b>KAMI TERKEJUT KETIKA MENGETAHUI BAHWA</b> salah satu faktor penghalang seseorang melakukan olahraga adalah karena minimnya edukasi mengenai bagaimana caranya berolahraga dengan baik.</p>
					<p><b>AKAN MENJADI GEBRAKAN YANG MENARIK</b> jika kita membantu orang-orang yang kurang pengetahuan dalam bidang olahraga untuk dapat belajar mengenai berbagai cabang olahraga tanpa merasa malu.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Design Team  ====-->

<!--====================================
=            Single Article            =
=====================================-->
<section class="section blog-single pt-3">
	<div class="container">
		<div class="row">
			<div class="col-md-10 m-auto">
				<!-- Single Post -->
				<article class="single-post pb-4">
					<!-- Post title -->
					<div class="post-title text-center">
						<h2>Proses Setelah Mendapatkan Sudut Pandang</h2>
						<!-- Tags -->
						<ul class="list-inline post-tag">
							{% comment %} <li class="list-inline-item">
								<img src="{% static 'home/images/testimonial/feature-testimonial-thumb.jpg' %}"
									alt="author-thumb">
							</li> {% endcomment %}
							<li class="list-inline-item">
								<a href="#">dari hasil wawancara kepada 3 orang mengenai permasalahan seputar kegiatan
									olahraga.</a>
							</li>
							{% comment %} <li class="list-inline-item">
								<a href="#">August 8, 2017</a>
							</li> {% endcomment %}
						</ul>
					</div>
					<!-- Post body -->
					<div class="post-body">
						<!-- Feature Image -->
						<br>
						<div class="feature-image">
							<img class="img-fluid" src="{% static 'home/images/feature/wawanpov.png' %}"
								alt="feature-image">
						</div>
						<!-- Paragrapgh -->
						<p>Setelah menentukan sudut pandang (POV), kami merumuskan solusi-solusi terbaik melalui brainstorming dan diskusi. Pada tahap awal, kami berusaha menggali ide-ide kreatif melalui metode pertanyaan "Bagaimana kita memungkinkan" (BKM). Kami menggunakan platform Miro.com untuk membantu kerja kami. Setelah terpilih 3 BKM terbaik, kami mencari solusi-solusi atas pertanyaan tersebut, kemudian menyusun strategi pembuatan prototipe pengalaman atas solusi-solusi tersebut. Prototipe pengalaman yang terbaik pada akhirnya dipilih untuk dilanjutkan ke tahap berikutnya dalam desain pengalaman pengguna.</p>
						<div class="post-image text-center">
							<img class="img-fluid" src="{% static 'home/images/feature/miro.jpg' %}"
								alt="post-body-image">
						</div>
						<p>Prototipe pengalaman dirancang supaya kami dapat segera menguji hipotesis kami mengenai kualitas solusi yang ditawarkan. Pada tahap ini, kami menggunakan 3 platform untuk membangun prototipe pengalaman. Ketiga platform tersebut adalah Notion, Whatsapp, dan Quizizz. Penjelasan lengkap mengenai proses ini dapat dilihat pada tautan berikut.</p>
						<!-- Post Image -->
						<div class="post-image text-center">
							<img class="img-fluid" src="{% static 'home/images/feature/Frame3.png' %}"
								alt="post-body-image">
						</div>
					</div>
				</article>
				<hr class="mt-5" style="border-top: 1px solid #cccccc;">
				<!-- Paragrapgh -->
				<div class="post-body mt-5">
					<h4>Hasil Tahap POV & Experience Prototype</h4>
					<p>Kesimpulan dari proses yang telah dilakukan adalah:<br>
					<ul>
						<li>Dari ketiga prototipe pengalaman yang telah kami buat, prototipe mengenai platform informasi sarana olahraga dengan notion adalah yang terbaik.</li>
						<li>Alasannya adalah karena paling memuaskan dan sesuai ekspektasi pengguna, serta paling sesuai dengan 3 asumsi yang telah dibuat sebelum pengujian.
						</li>
						<li>Langkah selanjutnya adalah menyempurnakan konsep solusi yang telah dirancang dan membuat video concept.</li>
					</ul>
					</p>
				</div>
				<h5 class="mt-5 mb-3">Informasi lebih lengkap dapat dilihat pada tautan berikut</h5>
				<h6><a class="btn btn-main-sm" href="https://docs.google.com/presentation/d/1Ydb_ckbEjVXF0JhbaOrSze7f0enDdnAYXaG2OZzFedg/edit?usp=sharing">POV & Exp Prototype (PPT)</a></h6>
				<h6><a class="btn btn-main-sm" href="https://drive.google.com/file/d/1XkKG3Q6DrL3Okhc_zaMMlZlYD-gzUcsP/view?usp=sharing">POV & Exp Prototype (PDF)</a></h6>
			</div>
		</div>
	</div>
</section>
<!--====  End of Single Article  ====-->
{% endblock body %}