{% extends "home/template.html" %}
{% load static %}

{% block title %}About Saroga{% endblock title %}
{% block tentangactive %}active{% endblock tentangactive %}

{% block body %}
<!--====================================
=            Single Article            =
=====================================-->
<section class="section blog-single">
	<div class="container">
		<div class="row">
			<div class="col-md-10 m-auto">
				<!-- Single Post -->
				<article class="single-post">
					<!-- Post title -->
					<div class="post-title text-center">
						<h1>Saroga</h1>
						<!-- Tags -->
						<ul class="list-inline post-tag">
							{% comment %} <li class="list-inline-item">
								<img src="{% static 'home/images/testimonial/feature-testimonial-thumb.jpg' %}"
									alt="author-thumb">
							</li> {% endcomment %}
							<li class="list-inline-item">
								<a href="#">Sport venues made visible</a>
							</li>
							{% comment %} <li class="list-inline-item">
								<a href="#">August 8, 2017</a>
							</li> {% endcomment %}
						</ul>
					</div>
					<!-- Post body -->
					<div class="post-body">
						<!-- Feature Image -->
						<div class="feature-image text-center mt-5">
							<img class="img-fluid mx-auto" src="{% static 'home/images/mobile-2.png' %}"
								alt="feature-image" style="height: 400px; width: auto;">
						</div>
						<!-- Paragrapgh -->
						<p>Banyak pegiat olahraga yang membutuhkan sarana olahraga ketika melakukan kegiatannya. Namun,
							informasi mengenai sarana olahraga di internet seringkali tidak komprehensif dan tidak
							up-to-date sehingga berakibat pada sulitnya mengetahui sarana mana yang dapat digunakan.
							Informasi kontak pengelola sarana juga sering tidak valid dan tidak dapat dihubungi.
						</p>
						<p>Saroga adalah aplikasi mobile yang berfungsi sebagai media informasi bagi para pegiat
							olahraga untuk menemukan sarana olahraga di sekitarnya. Saroga membantu para pegiat olahraga
							untuk mendapatkan informasi yang komprehensif dan valid sehingga mereka dapat menghubungi
							pengelola lapangan untuk melakukan reservasi.
						</p>
						<!-- Blockquote -->
						<div class="quote">
							<blockquote>
								Informasi mengenai sarana olahraga yang dapat digunakan merupakan hal yang krusial bagi
								pecinta olahraga.
							</blockquote>
						</div>
						{% comment %}
						<!-- Paragrapgh -->
						<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ante ipsum
							primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor
							sit amet aliquam vel, ullamcorper sit amet ligula. Vestibulum ac diam sit amet quam vehicula
							elementum sed sit amet dui. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
						{% endcomment %}
						<!-- Post Image -->
						<div class="post-image text-center">
							<img class="img-fluid" src="{% static 'home/images/feature/simulasi-2.png' %}"
								alt="post-body-image">
						</div>
						<br>
						<br>
						<div class="text-center">
							<p>High-fidelity prototype Saroga dapat diakses pada tautan berikut.</p><br>
							<a class="btn btn-main-sm"
								href="https://www.figma.com/proto/dMue7lxG99x2BBoZfnRNna/High-fi-Prototype?page-id=0%3A1&node-id=2%3A2&viewport=241%2C48%2C0.12&scaling=scale-down&starting-point-node-id=2%3A2">High-Fi Saroga</a>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
{% endblock body %}